<section class="order-section">
    <div class="order-section__wrapper page-wrapper">
        <div class="order-section__content page-content">
            <div class="order-section__header">
                <h2 class="order-section__title">
                    Оформление
                    <span class="order-section__title-accent">заказа</span>
                </h2>
                <span class="order-section__descr">
                    Перед заполнением формы ознакомьтесь с нашей схемой работы!
                </span>
            </div>
            <div class="order-section__icon-row">
                <app-order-icon-row></app-order-icon-row>
            </div>
            <app-order-form></app-order-form>
        </div>
    </div>
</section>