@use '/src/styles/variables' as *;

.header-menu {
    &__container {
        display: flex;
        gap: $spacing-m;
    }

    &__item {
        position: relative;
        font-family: $semibold;
        text-transform: uppercase;
        font-size: 13px;
        color: #FFF;
        transition: color 0.1s ease-out, opacity 0.1s ease-out;
        user-select: none;

        &.selected {
            color: $secondary-color;
        }

        &:not(.selected) {
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

        // Увеличение области клика на $clickarea-expansion
        &::before {
            $clickarea-expansion: 10px;
            content: "";
            position: absolute;
            top: -#{$clickarea-expansion};
            bottom: -#{$clickarea-expansion};
            left: -#{$clickarea-expansion};
            right: -#{$clickarea-expansion};
        }
    }
    
    &__menu-btn {
        display: none;
    }

    &__burger-line {
        width: 20px;
        height: 2px;
        border-radius: 1px;
        background-color: #FFF;
        transition: background-color 0.1s ease-out;
    }
}

@media screen and (max-width: 768px) {
    .header-menu {
        &__container {
            text-align: center;
            position: absolute;
            top: 60px;
            left: 0;
            width: 100%;
            background-color: rgba(16, 16, 29, 0.90);
            z-index: 2;
            flex-direction: column;
            gap: $spacing-s;
            padding: $spacing-s 0;

            &:not(.is-open) {
                display: none;
            }
        }
    
        &__menu-btn {
            display: flex;
            flex-direction: column;
            gap: 5px;

            &:active {
                .header-menu__burger-line {
                    background-color: $primary-color;
                }
            }
        }
    }
}