<section class="banner">
    <div class="banner__wrapper page-wrapper">
        <div class="banner__content page-content">
            <h1 class="banner__title">
                <span class="banner__title-accent">Lorem ipsum</span>
                dolor sit<br>ametconsectetur 
                <span class="banner__title-accent">adipiscing</span>
            </h1>
            <div class="banner__list">
                <h4 class="banner__list-title">At vero eos et accusamus et iusto odio dignissimos ducimus!</h4>
                <div class="banner__list-item">
                    <embed class="banner__list-dash" src="/assets/icons/dash.svg">
                    Totam rem aperiam eaque ipsa
                </div>
                <div class="banner__list-item">
                    <embed class="banner__list-dash" src="/assets/icons/dash.svg">
                    Sit voluptatem accusantium doloremque laudantium
                </div>
                <div class="banner__list-item">
                    <embed class="banner__list-dash" src="/assets/icons/dash.svg">
                    Sed ut perspiciatis, unde omnis iste natus error
                </div>
            </div>
            <div class="banner__actions">
                <app-button class="banner__button" btnStyle="primary">Заказать</app-button>
                <app-button class="banner__button" btnStyle="secondary">Подробнее</app-button>
            </div>
        </div>
    </div>
</section>