<div class="order-form">
    <form class="order-form__container" (ngSubmit)="onSubmit(orderForm)" #orderForm="ngForm">
        <app-select-control
            class="order-form__field"
            name="systemType"
            placeholder="Выберите тип системы"
            [(ngModel)]="model.systemType"
            [options]="['Sed ut perspiciatis',
                        'Nemo enim ipsam',
                        'Et harum quidem',
                        'Temporibus autem',
                        'Itaque earum rerum',
                        'Sed ut perspiciatis',
                        'Nemo enim ipsam',
                        'Et harum quidem',
                        'Temporibus autem',
                        'Itaque earum rerum']">
        </app-select-control >
        <input
            type="text"
            class="order-form__field"
            name="email"
            placeholder="Ваш e-mail"
            [(ngModel)]="model.email"
        >
        <input
            type="text"
            class="order-form__field"
            name="name"
            placeholder="Ваше имя"
            [(ngModel)]="model.name"
        >
        <app-range-control
            class="order-form__field order-form__field_range"
            name="percent"
            [(ngModel)]="model.percent"
        ></app-range-control>
        <app-file-upload class="order-form__field" name="file" (fileSelected)="onFileSelected($event)"></app-file-upload>
        <app-button class="order-form__button" type="submit">
            Отправить
        </app-button>
    </form>
</div>