@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.order-form {
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: $spacing-s;
    }

    &__field {
        grid-column: span 1;

        &_range {
            grid-column: span 2;
            margin-bottom: 20px;
        }
    }

    &__button {
        grid-column: 2/3;
        font-family: $semibold;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .order-form {
        &__container {
            display: flex;
            flex-direction: column;
        }

        &__field_range {
            margin-bottom: 30px;
        }
    }
}