@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.button {
    @include button-base;
    @include text-ellipsis;
    width: 100%;
    height: 100%;
    text-transform: uppercase;

    &--primary {
        @include button-primary;
    }

    &--secondary {
        @include button-secondary;
    }
}