@use '/src/styles/variables' as *;

.footer-payments {
    &__container {
        display: flex;
        gap: $spacing-s;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #C3C3C3;
    }
}